// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
@import "node_modules/font-awesome/scss/font-awesome.scss";

@import '~jquery-ui/themes/base/all.css';

body{
    background: #f0f0f0;
}

.all-categories {
    cursor: pointer;
}
.category-list {
    height: 100vh;
    width: 16%;
    position: fixed;
    padding: 20px;
    padding-right: 0;
    transition: all 0.7s ease;

    li {
        position: relative;
        display: list-item;
        color: #fff;
        transition: all 0.5s ease;
        cursor: pointer;

        //&:hover {
        //    color: lightsalmon;
        //}

        a {
            font-size: 24px;
            text-decoration: none;
            color: inherit;
            //.sub-category-arrow {
            //    position: absolute;
            //    right: 0;
            //    top: 20%;
            //}
        }

        .sub-menu-1 {
            //width: 16%;
            padding: 20px 0 20px 20px;
            //position: absolute;
            //right: 0;
            //top: 0;
            background: #000;
            border: 1px solid red;
            display: block;
        }

    }
}

ul{
    list-style: none;
    padding-left: 0;

    li {
        display: inline-block;
        margin-right: 10px;
        a {
            color: #000;
            font-size: 17px;
        }

    }
}

.check-color,.check-size {
    cursor: pointer;
    position: relative;
}
.check-size {

    width: 35px;
    height: 35px;
    border: 1px solid #000;
    font-size: 14px;
    line-height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.remove-product-image,.remove-image {
    position: absolute;
    right: 0;
    font-size: 40px;
    color: red;
    cursor: pointer;
}

.checked-image, .product-image {
    width: 100%;
    height: 300px;
    object-fit: cover;
    cursor: pointer;
}

.checked-for-main {
    background: #bacbe6;
}

.price {
    font-size: 30px;
    color: darkorange;

    .price-sup {
        font-size: 16px;
        margin-bottom: 7px;
    }
}

.product-show-attributes {
    li {
        font-size: 20px;
    }
}

.checked-icon {
    position: absolute;
    left: 2px;
    color: lightsteelblue;
    font-size: 38px;
}

.back {
    position: relative;
    display: block;
    .go-back {
        font-size: 50px;
        color: darkorange;
    }

    span {
        position: absolute;
        left: 20px;
        top: 0;
        color: darkorange;
    }
}

